.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 

.Login {
  background-color: #1b1c20;
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}


button, input, textarea, select{
  font: inherit;
  padding: inherit;
}

button {
  padding: .5% 2% .6% 2%;
  margin: .2% .2% .2% .2%;
} */


.falling-star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotateZ(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotateZ(720deg);
    opacity: 0;
  }
}